body{
    margin:0;
}

input{
    width:100%;
}
.hidden {
    display:none;
}
#override .ui-btn.ui-btn-active {
    border-color: black;
    color: black;
    text-shadow: none;

}
.ui-panel-dismiss-open.ui-panel-dismiss-position-left{
    //background-color:black !important;
    //opacity:0.5;
    left:200px;
}
#override [data-role="footer"] {
    height:90px;
    background-color:inherit;
    border:none;
}
.collapsible-container{
    position:relative;
}
#meat h3 a{
    font-size: 1em;
    color: #9f2828;
    border-right:solid #9f2828 12px;
    background-color: white;
}
#produce h3 a{
    font-size: 1em;
    color:#008000;
    border-right:solid #008000 12px;
    background-color: white;
}
#grain h3 a{
    font-size: 1em;
    color: #de9f49;
    border-right:solid #de9f49 12px;
    background-color: white;
}
#dairy h3 a{
    font-size: 1em;
    color: #5daede;
    border-right:solid #5daede 12px;
    background-color: white;
}
#misc h3 a{
    font-size: 1em;
    color: #666666;
    border-right:solid #666666 12px;
    background-color: white;
}
#produce-number, #meat-number, #grain-number, #dairy-number, #misc-number {
    position:absolute;
    top:30px;
    right:35px;
    margin:0;
    color: #666666;
}
#override .ui-collapsible-content{
    padding:0px;
}
#override [data-role="header"]{
    background-color: #f5f5f5;
}
#nav-list{
    padding:0;
    margin:0;
    list-style-type:none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-align:center;
    padding-top: 12px;
}
h1, h2 {
    font-size: 1.6em;
}
h3{
    font-size: 1.3em;
}
#login-table, #signup-table{
    text-align:right;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}
#override #defaultpanel{
    width:200px;
    background-color: inherit;
}
.nav{
    height:58px;
    background-color: #3D7CB3;
    color: white;
}

#override .sort-button{
    position:absolute;
    right:0;
    top:0px;
    height:50px;
    width:50px;
    margin:4px;
    border: none;
    background-color: inherit;

}
#override #popup-sort{
    width:150px;

}
#override .nav-button {
    margin: 0;
    position: absolute;
    padding: 14px 18px 16px 16px;
    border: none;
    background-color:inherit;
}
.item-list .list-item{
    margin: 0;
    background-color: #fbfbfb;
}
.top-hr {
    margin:0;
    width:100%;
    height:0.5px;
    border-bottom:1px grey solid;
    background-color:darkgrey;
}
.item-list img {
    position:absolute;
    left:4px;
    top: 4px;
}
.item-list .list-item {
    height: 58px;
    padding: 0;
    text-align:left;
}
.item-list .item-name{
    padding-left: 62px;
    font-size:large;
}
.item-list .item-expires{
    position:absolute;
    right:10px;
    top:34px;
    font-size:15px;
    color: grey;
    margin: 0;
}
.item-list .item-quantity {
    position:absolute;
    right:78px;
    top:22px;
    font-size:15px;
    color: grey;
}
#defaultpanel #logo2 {
    font-weight: bold;
    text-align: center;
    font-size: large;
    color: white;
    text-shadow: none;
    margin: 0;
    padding: 17px 10px;
    background-color: black;
}
.small-circle{
    background-color: #dd4146;
    border-radius:50%;
    height:12px;
    width:12px;
    position:absolute;
    right: 8px;
    top: 8px;
}
#override .ui-checkbox, #override .checkbox-label {
    position:absolute;
    right:0;
    top:0;
    margin:0;
    border-radius:0;
    border-right:none;
    border-top:none;
    border-bottom:none;

}
#override .checkbox-label {
    padding:30PX;

}
#override .checkbox-label::after {
    height:40px;
    width:40px;
    position:absolute;
    top:18px;
    right:18px;

}

#override .large-circle{
    height:60px;
    width:60px;
    border-radius:50%;
    border-color: #101010;
    border-width:1px;
    position:fixed;
    right: 14px;
    bottom: 6px;
    background-color: #f3f3f3;
    z-index: 3;
)
}

#item-popup, #item-popup2 {
    background-color:white;
	color:black;
    width:90vw;
    position:fixed;
    left: 5vw;
    overflow-y: auto;
}
.item-popup-name {
	text-align:center;
	font-size:2.2em;
	color:#495655;
}
.item-popup-expires {
	text-align:center;
}
#navbar, #navbar2 {
    display:flex;
}
#navbar a, #navbar2 a {
    width:33%;
    font-size: 0.89em;
}
#overview, #overview2, #storage, #storage2, #expired, #expired2 {
	text-align:center;
}
.ui-table {
	max-width:300px;
	margin:auto;

}
.ui-table table {
	width:100%;
	margin:auto;

}
.item-button-container {
    /*does stuff in the future*/
}
.ate-button-div {
    position:absolute;
    left:10%;
    bottom:5%;
}
#ate-button {
    margin:10px auto;
    color:#235f23;

}
.expired-button-div {
    position:absolute;
    right:10%;
    bottom:5%;
}
#expired-button {
    margin:10px auto;
    color: #5f1309;
}
.ui-panel-inner{
    padding: 0;
}
.nav-btn{
    margin:0;
    background-color: white;
}
.ui-icon-produce:after {
    background-image: url("icons/produce.svg");
    background-size: 18px 18px;
}
.ui-nosvg .ui-icon-produce:after{
    background-image: url("icons/produce.png");
    background-size: 18px 18px;
}
.ui-large-icon{
    background-size:30px 30px;
}
.ui-content {
    padding:    0px;
}

#override .text-input-container{
    width:180px;
    display:inline-block;
    padding-right:30px;

}
#override .input-container{
    max-width:100px;
    margin:auto;
    padding-bottom:10px;
    display:block;

}
#override .text-input-label{
    display:inline-block;
    padding-right:15px;
    padding-left:10px;
    min-width:80px;
}
#settings-form-table{
    margin:auto;
}
/* About page css */
.develop-img{
    margin:auto;
    display:block;
}
.develop-text{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
#dev-header{
    padding-bottom: 10px;
    margin: 5px 0 20px;
    background-color: #e8e8e8;
    border-top: solid #4763e2 5px;
}
#mission-header{
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: #e8e8e8;
    border-top: solid #34e23c 5px;

}
#mission-body{
    font-size: 1.1em;
}
#goal-header{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-top: solid #e23238 5px;
    background-color: #e8e8e8;
}
/* About page css */

/* Affiliated page css */
.aff-header{
    margin-top: 5px;
    background-color: #e8e8e8;
    height:84px;
    width:100%;
    position:relative;

}
.aff-header h2{
    position:absolute;
    left:100px;
    top:15px;
    text-align:left;

}
.aff-icon{
    float: left;
    position:absolute;
    padding:7px;

}
#aff-apps h3{
    text-align: center;
}
#aff-apps p{
    text-align: center;
}
#forkpotato .aff-header{
    border-top: solid #4763e2 5px;
}
#foodfall .aff-header{
    border-top: solid #34e23c 5px;
}
#overcooked .aff-header{
    border-top: solid #e23238 5px;
}
#useitup .aff-header{
    border-top: solid #ffb02a 5px;
}
/* Affiliated page css */

/*<<<<<<< HEAD*/
/* Add predefined item page css */
.ui-icon-green{ /* unused yet, could be used to set close icon to green, couldnt get it to work*/
    background-image: url(icons/ui.png);
}

.add-icons{
    margin-left:auto;
    margin-right: auto;
    display: block;
    margin-top: 5px;
}
.item-panel{
    width: 60px;
    display: inline-block;
}
.item-panel p{
    text-align: center;
}
#button-div, #button-div2{
    display:flex;
}
#add-button, #add-button2, #add-button3, #add-button4{
    color: darkslategray;

    margin:10px auto;
}
#add-header, #add-header2{
    text-align:center;
    font-size:2.2em;
    color: #495655;
}
#override [data-rel="back"]{
    right:0;
    top:0;
}
[data-role="collapsible"] {
    margin:0;
    border-radius:0;
}
#override [data-role="collapsible"] h3 > a {
    padding-top: 22px;
    padding-bottom: 22px;
}
#add-popup, #add-popup2, #custom-item-popup, #custom-item-popup2{
    width: 90vw;
    position:fixed;
    left:5vw;
    overflow-y:auto;
}
#common-items, #common-items2 {
    width: 90%;
    height: 30%;
    background-color: lightgrey;
    margin: auto;
    overflow: scroll;
    border-style: solid;
    border-color: darkslategrey;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
#bought-items, #bought-items2 {
    width: 90%;
    height: 30%;
    background-color: lightgrey;
    margin: auto;
    overflow: scroll;
    border-style: solid;
    border-color: darkslategrey;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

#add-popup p, #add-popup2 p {
    margin: 0;
}
#add-popup h3, #add-popup2 h3 {
    color: dimgrey;
    text-align: center;
    margin-left:5px;
    margin-right:5px;
}
#custom-item-popup, #custom-item-popup2 {
    text-align:center;
}
#custom-item-popup hr, #custom-item-popup2 hr {
    width:90%;
}
#custom-item-popup h3, #custom-item-popup2 h3 {
    position:relative;
    top:28px;
    background-color:white;
    display:inline-block;
    padding: 0 15px;
}
.add-item-table {
    max-width:400px;
    margin:auto;
}
.add-item-table table {
    width:90%;
    margin:auto;
    align-items:center;
}
.add-item-table table tr {
    margin:auto;
}
.add-item-table table tr td:nth-child(2){
    width:50%;
}
#custom-add-back, #custom-add-back2 {
    left:0;
}
/* Add predefined item page css */

.custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -4.9em;
}
.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 1.2em;
}
.custom-size-flipswitch.ui-flipswitch {
    width: 7.875em;
}
.custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
    padding-left: 6em;
    width: 1.875em;
}
@media (min-width: 28em) {
        .ui-field-contain > label + .custom-size-flipswitch.ui-flipswitch {
        width: 1.875em;
        }
}
body{
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 400;
    font-kerning:normal;
}

#override a, #override input{
    font-family: 'Nunito', sans-serif;


}

html {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}
html, body {
    /* For the loading indicator to be vertically centered ensure */
    /* the html and body elements take up the full viewport */
    min-height: 100%;
}
html.loading {
    /* Replace #333 with the background-color of your choice */
    /* Replace loading.gif with the loading image of your choice */
    background: #efefef ;
    /* Ensures that the transition only runs in one direction */

}
body {
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}
html.loading body {
    /* Make the contents of the body opaque during loading */
    opacity: 0;

    /* Ensures that the transition only runs in one direction */

    /*
<<<<<<< HEAD
=======
*/
}
#logo img {
    max-width: 150px;
    height: auto;
    margin: 20px auto;
    display:block;
}

#google-btn {
    width:175px;
    margin:auto;
}
@media (max-width: 500px) {
    .ui-page {

        margin: 0;

    }
}
@media (min-width: 501px) {
    #override .ui-page{
        //padding-left:200px !important;
        //max-width: 500px;
        //position: absolute;
    }
    #item-list{
        //margin-left:200px;
    }
    #override .ui-page{
        margin-left:200px;
        width:calc(100vw - 200px);
        float:right;
        background-color: white;
    }
}
#fridge-btn,#shopping-list-btn,#settings-btn, #about-btn, #aff-btn, #logout-btn, #login-btn {
    background-color: white;
}