.idea
Other Website Prototype/.firebaserc
Other Website Prototype/firebase-debug.log
Other Website Prototype/functions
Other Website Prototype/public
Other Website Prototype/database.rules.json
Other Website Prototype/firebase.json
.firebaserc
database.rules.json
firebase.json
functions
public
node_modules
