#banner-img{
    height: 75px;
    float:  left;
}
#banner-text {
    margin-top: 10px;
    margin-left: 5px;
    text-transform: none;
}
header{
    background-image: url("../img/food.jpg");
    background-size: cover;
}
.intro-text a{
    width: 150px;
    height: 50px;
}
#sign-up{
    color: white;
    font-size: .9em;
}
#sign-up:hover{
    color: #18BC9C;
}
#sign-up-link{
    text-decoration: none;
}
span.skills{
    text-shadow: black 2px 2px 8px, black -2px -2px 8px, black -2px 2px 8px;
}
h1.name{
    text-shadow: black 2px 2px 8px, black -2px -2px 8px, black -2px 2px 8px;
}
h3{
    text-shadow: black 2px 2px 8px, black -2px -2px 8px, black -2px 2px 8px;
}
h3#sign-up{
    color: #18BC9C;
    text-shadow: black 2px 2px 8px, black -4px -4px 8px, black -4px 4px 8px;
}
button.navbar-toggle{
    margin-top: 20px;
}
#portfolio img{
    display: block;
    max-width: 520px;
    max-height: 300px;
    width: auto;
    height: auto;
}